@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Arimo');
.container {

}
body{
background: #fafcfe;
  font-family: Arimo;
}
a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
.rtl{
  direction: rtl !important;
}
.loginLink{
  float:right;
  display:block;
  margin-right:10px;
  margin-top: -40px;
}
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
.clickable{
  cursor:pointer;
}
.field{
float:left;
width:45%;
margin-top:5px;
margin-left:8px;
font-family: Rubik;
}
.list-group-item img{
border-radius: 50px;
}
.jb-info{

}
.jb-pdate{
 opacity: 0.4;
 font-size: 16px;
font-weight: 500;
 float:left;
}
.jb-tags{
height: 48px;
padding: 12px 16px;
float:left;
border-radius: 24px;
background-color: rgba(19,200,198,0.08);
}
.jb-milestones{
height: 48px;
padding: 12px 16px;
float:left;
margin:20px 0px;
list-style-type: none;
display: flex;
align-items: center;
justify-content: center;
border-radius: 24px;
background-color: rgba(19,200,198,0.08);
}
.job-description{
opacity: 0.64;
margin-top:24px;
font-size: 16px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: 1.63;
letter-spacing: normal;
color: #000000;
}
.job-info-box{
border-radius: 4px;
background-color: #f2f2f2;
 font-weight: 600;

margin-right:16px;
float:left;
font-size: 16px;
padding:8px 24px;
}
.jb-tag{
border-radius: 16px;
display: block;
font-weight: 600;
float:left;
color:#fff !important;
padding:3px 16px;
margin-left:3px;
background-color: #13c8c6;
font-size: 14px;
margin-bottom:5px;
}
#attached-files{
margin-top:16px;
display: block;
}
#done-job{
position: absolute;
top: 0;
left: 0;
width: 100%;
border-radius: 5px;
padding:92px 200px;
color:#fff;
font-weight: 800;
vertical-align: middle;
height: 100%;
z-index: 10;
background-color: rgba(0,0,0,0.4); /*dim the background*/
}
#done-job h3{
margin-top:24px;
font-weight: 700;
}
#done-job i{
font-size: 128px;
display: block;
text-align: center;
}
#attached-file{
  padding:7px 16px;
  border:0px;
  border-radius: 19px;
  font-weight: 600;
  font-size:16px;
  background-color: #f2f2f2
}
.approved-file{
background:#2ecc71 !important;
}
#attached-file img{
margin-right:8px;
}
.jb-m1{
border-radius: 16px;
display: block;
float:left;
color:#fff !important;
padding:3px 16px;
margin-left:3px;
font-weight: 600;
background-color: #13c8c6;
font-size: 14px;
}
.jb-m1::after{
bottom: -8px;
left: 13px;
border-top-color: #F6F6F6;
border-width: 12px;
}
.jb-m{
border-radius: 16px;
display: block;
float:left;
padding:3px 16px;
font-weight: 600;
margin-left:10px;
background-color: #b9eeee;
color:rgba(0,0,0,0.4);
 transition: all 200ms ease-in;

font-size: 14px;
}
.jb-m:before{
content: '';
  width: 10px;
  height: 4px;
  background-color: #b9eeee;
  position: absolute;
  margin-left:-26px;
  margin-top:7px;
  transition: all 200ms ease-in ;
}
.jb-m-done{
background: #13c8c6 !important;
color:#fff !important;
}
.jb-m-done:before{
background: #13c8c6 !important;
}

#jb-apply{
float:right;
width: 191px;
height: 48px;
border-radius: 24px;
background-color: #3952d0;
font-size: 18px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
border:0px;
line-height: normal;
letter-spacing: normal;
color: #ffffff;
}
#jb-status{
float:right;
width: 191px;
height: 48px;
border-radius: 24px;
font-size: 18px;
padding:15px 40px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
border:0px;
line-height: normal;
letter-spacing: normal;
color: #ffffff;
}
.ongoing{
background:#2ecc71;
color:#000  !important;
font-weight: 700;
}
#jb-status i{
margin-right:10px;
}
.jb-budget{
float:right;
font-size: 24px;
font-weight: bold;
font-style: normal;
padding-right:69px;
font-stretch: normal;
line-height: 1.33;
letter-spacing: normal;
}
.cases-wrapper{
margin:12px;
}
#current-job{
float:left;
width:74%;
}
#portofolio{
float:right;
width:74%;
}
.case-db{
width:46%;
float:left;
margin-left:20px;
box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
margin-bottom: 20px;
padding:10px;
border-radius: 4px;
background-color: #ffffff;
}
.steady{
background:#f1c40f !important;
color:#000 !important;
}
.finished{
background:#e74c3c !important;
}
.parties{
border-radius: 4px;
background-color: #fafafa;
padding:10px;
}
.case-desc{
padding:5px;
opacity: 0.64;
}
.case-info-slots{
margin-top:10px;
}

.parties{
text-align:center;
}
.parties img{
height:48px;
border-radius: 50px;
}
.status{
background:#81c784;
font-weight: 500;
float:right;
padding:5px 20px;
 border-radius: 12px;
color:#fff;
font-family: Rubik;
}
.button{
width: 200px;
height: 41px;
border:0px;
border-radius: 4px;
background-color: #f2be54;
}
.field-name{
color:#1b2733;
font-family: Rubik;
font-weight: 500;
opacity: 0.64;
}
.text-field{
border:1px solid #eae6e6;
border-radius: 4px;
margin-top:8px;
display: block;
height: 40px;
padding:0px 12px;
width: 100%;
}
header{
width:100%;
height:72px;
padding-top:5px;
font-family: Rubik;
box-shadow: 0 1px 2px 0 rgba(57, 82, 208, 0.09);
background-color: #ffffff;
}
#wrapper{
margin-top:86px;
padding-left:40px;
}
#filter{
float:left;
width: 30%;
padding:24px;
border-radius: 4px;
box-shadow: 0 1px 5px 0 rgba(57, 82, 208, 0.09);
background-color: #ffffff;
}
#current-stage{
float:right;
width: 25%;
padding:24px;
 margin-top:16px;
border-radius: 4px;
font-family: Arimo;
box-shadow: 0 1px 5px 0 rgba(57, 82, 208, 0.09);
background-color: #ffffff;
}
#profile-p{
float:left;
width: 25%;
padding:24px;
 margin-top:16px;
border-radius: 4px;
font-family: Arimo;
box-shadow: 0 1px 5px 0 rgba(57, 82, 208, 0.09);
background-color: #ffffff;
}
#profile-p h4{
font-size: 14px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #000000;
margin:0px;
}
#profile-p img{
width:80px;
height:80px;
border-radius:50px;
margin-left: auto;
margin-right: auto;
display: block;
}
.characters{
  margin:20px;
}
.character-block{
    width: 32%;
    float:left;
    margin-right:10px;
    padding:40px;
    margin-bottom:10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.character-info{
    width: 32%;
    float:right;
    margin-right:10px;
    padding:40px;
    margin-bottom:10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.character-info img{
  width:80px;
  height:80px;
  display: block;
  margin-left:auto;
  margin-right:auto;
  border-radius:500px;
}
.character-description{
  width:65%;
  float:left;
  border-radius: 4px;
box-shadow: 0 1px 5px 0 rgba(57, 82, 208, 0.09);
background-color: #ffffff;
  padding:40px;
}
.character-block img{
  width:80px;
  height:80px;
  display: block;
  margin-left:auto;
  margin-right:auto;
  border-radius:500px;
}
.character-block h2{
  font-family: 'Varela Round';
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.character-block span{
    font-family: 'Varela Round';
  font-size: 16px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
display: block;
line-height: normal;
letter-spacing: normal;
text-align: center;
color: #c2c2c2;
}
.character-block p{
  font-size: 15px;
  font-family: 'Varela Round';
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: -0.2px;
 text-align: center;
 color: #444444;
}
#profile-p #username{
font-size: 21px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: center;
color: #000000;
}
#profile-p  #bio{
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: -0.2px;
text-align: center;
color: #444444;
}
.inputfile {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}
.cfu{
border: 1px solid #ccc;
display: inline-block;
padding: 8px 0px;
padding-left: 24px;
cursor: pointer;
width: 160px;
height: 40px;
opacity: 0.9;
border-radius: 37px;
background-color: #3952d0;
font-size:16px;
color: rgba(255,255,255,0.8);
}
.input-container {
margin-top:5px;
border: 2px solid rgba(172, 182, 235, 0.17);
width:100%;
border-radius: 37px;
font-size: 16px;
 background-color: #ffffff;
border-radius: 39px;
}
input[type='file'] {
display: none;
}
.file-info {
font-size: 0.9em;
padding:19px;
padding-top:14px;
float:left;
display: block;
}
.browse-btn {
color: #fff;
min-height: 35px;
padding:11px 24px;
float:right;
border: none;
border-radius: 37px;
 background-color: #3952d0;

}
.browse-btn img{
object-fit: contain;
opacity: 0.9;
}
.cfu img{
margin-right:8px;
}
#filter input{
border-radius: 20px;
border:0px;
padding:5px 20px;
opacity: 0.32;
margin-right: 84px;
text-indent:12px;
width: 80%;
height: 40px;
margin-bottom:10px;
margin-top:10px;
border-radius: 20px;
background-color: #ffffff;
font-weight: 500;
font: Rubik;
border: 3px solid rgba(172, 182, 235, 0.17);
padding-left:25px;
color: rgba(0, 0, 0, 0.4);
}
#jobs{
 width: 68%;
 margin-right:20px;
 float:right;
}
#job{
width: 100%;

padding:32px;
border-radius: 4px;
  display: block;
 position: relative;
 margin-top:16px;
box-shadow: 0 1px 5px 0 rgba(57, 82, 208, 0.09);
background-color: #ffffff;
}
.setting-wrapper{
padding:24px;
}
.setting-wrapper h3{
font-weight: 800px;
}
.set-title{
font-family: Rubik;
font-size: 20px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: 1.2;
letter-spacing: normal;
color: #1b2733;
}
.landing-header{
padding-left:50px !important;
background: #fef9f0;
padding-bottom: 8px;
padding-top: 8px;
}
.landing-header h4{
font-weight: 800;

  display: block;
}
#content{
margin-left:250px;
}
#case-header{
padding:20px;
font-family: Rubik;
}
#case-header h2{
font-weight: 800;
margin-top:2px;
margin-bottom: 25px;
}
.case-head-slot{
float:left;
padding-right: 35px;
}
#opening-statement{
border-top:3px solid #f1f1f1;
position: relative;
}
#opening-statement h3{
margin:10px 0px;
margin-left:20px;
}
#evidence{
border-top:3px solid #f1f1f1;
width:100%;
}
#opening-statement p{

padding:10px 20px;
font-family: Rubik;
}
#os-card{
position:absolute;
border-radius: 8px;
color: #909090;
font-family: Rubik;
font-weight: 600;
padding:10px;
margin-top:-3px;
background-color: #f1f1f1;
}
#party{
width:50%;
display: block;
padding-left:20px;
float:left;
border-right:1px solid #f1f1f1;
}
#party h4{
margin-top:30px;
margin-left: 114px !important;
margin-bottom:12px;
}
.party-info {
font-size:10px;
}
.party-info span{
font-weight: 700;
}
.party-info img{
width:48px;
}
#party-card{
border-radius: 8px;
color: #909090;
font-family: Rubik;
font-weight: 600;
padding:10px 20px;
max-width: 120px;
margin-top:-3px;
margin-bottom:10px;
background-color: #f1f1f1;
}
.case-head-slot p{
text-transform: uppercase;
opacity: 0.4;
margin:0;
}
.no-arguments{
color:#808080;
font-weight: 600;
}
#case-header button{
float:right;
border-radius: 4px;
border:0px;
padding:8px 0px;
width:120px;
color:#333;
font-family: Rubik;
font-weight: regular;
margin-left:5px;
background-color: #f2be54;
top:0;
}
.landing-content{
margin-top:40px;
}
.landing-vp {
width: 60%;
min-height: 300px;
background-repeat: no-repeat;
float:left;
}
.vp-t{
font-family: Rubik;
font-size: 72px;
margin-top:133px;
margin-left:114px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: 1.22;
letter-spacing: normal;
color: #000000;
}
#login{
width: 434px;
height: 38px;
border-radius: 4px;
display: block;
text-align: center;
padding: 9px 0px;
margin-top:40px;
font-family: Rubik;

border:0px;
border-radius: 4px;
color:#fff;
background-color: #3952d0;
}
.inputGroup {
background-color: #fff;
display: block;
margin: 10px 0;
position: relative;
}
.inputGroup label {
padding: 12px 30px;
width: 100%;
display: block;
text-align: left;
color: #3C454C;
cursor: pointer;
position: relative;
z-index: 2;
transition: color 200ms ease-in;
overflow: hidden;
}
.inputGroup label:before {
width: 10px;
height: 10px;
border-radius: 50%;
content: '';
background-color: #5562eb;
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
opacity: 0;
z-index: -1;
}
.inputGroup label:after {
width: 32px;
height: 32px;
content: '';
border: 2px solid #D1D7DC;
background-color: #fff;
background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
background-repeat: no-repeat;
background-position: 2px 3px;
border-radius: 50%;
z-index: 2;
position: absolute;
right: 30px;
top: 50%;
-webkit-transform: translateY(-50%);
        transform: translateY(-50%);
cursor: pointer;
transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
color: #fff;
}
.inputGroup input:checked ~ label:before {
-webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
opacity: 1;
}
.inputGroup input:checked ~ label:after {
background-color: #54E0C7;
border-color: #54E0C7;
}
.inputGroup input {
width: 32px;
height: 32px;
order: 1;
z-index: 2;
position: absolute;
right: 30px;
top: 50%;
-webkit-transform: translateY(-50%);
        transform: translateY(-50%);
cursor: pointer;
visibility: hidden;
}

.form {
padding: 0 16px;
max-width: 550px;
margin: 50px auto;
font-size: 18px;
font-weight: 600;
line-height: 36px;
}

#request-invitation{
width: 434px;
height: 38px;
border-radius: 4px;
display: block;
text-align: center;
padding: 9px 0px;
font-family: Rubik;
border:0px;
box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.08), inset 0 0 4px 0 rgba(0, 0, 0, 0.04);
background-color: #ffffff;
}
.strike {
  display: block;
  text-align: center;
  margin: 33px 0px;
  overflow: hidden;
  white-space: nowrap;
}

.strike > span {
  position: relative;
  font-family: Rubik;
  margin-left:-60px;
  display: inline-block;
}


.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 155px;
  height: 1px;
  background: #f2f2f2;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}
.landing-vp p{
  margin-left:114px;
  font-family: Rubik;
  opacity: 0.64;
  font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.78;
letter-spacing: normal;
}
.landing-login{
width:40%;
float:left;
padding-top:153px;
}
.landing-login h2{
font-size:32px;
font-weight: 300;
}
#case-header p{
width: 45px;
font-weight: 800;

opacity: 0.32;

font-family: Rubik;

font-size: 16px;


font-style: normal;

font-stretch: normal;

line-height: normal;

letter-spacing: normal;
margin-bottom: 2px;
color: #000000;
}
header .profile{
position: absolute;
padding:10px 20px;
right:0;
}
header .profile img{
height:32px;
margin:0px 5px;
margin-top: 4px;
width:32px;
border-radius:200px;
}
#logo{
display:block;
margin-left: auto;
margin-right: auto;

margin-top:25px;
font-family: 'Arimo';
font-size:26px;

font-weight: 800;
color:#3952d0;
 width: 68px;
}
#header-link{
float:left;
display: block;
font-family: Arimo;
font-weight:600;
padding-top:28px;
padding-left:25px;
padding-right:15px;
padding-bottom:12.7px;
 opacity: 0.4;
}
.current{
border-bottom: 4px solid #3952d0;
color:#000 !important;
opacity: 1.0 !important;
}
#header-link .text{
  vertical-align: middle;
}
#header-link img{
padding-right:8px;
}
#header-links{
padding-left:23px;
}
header input{
border-radius: 20px;
border:0px;
padding:5px 20px;
float:right;
margin-right: 84px;
text-indent:12px;
width: 260px;
height: 40px;
margin-bottom:10px;
margin-top:10px;
border-radius: 20px;
background-color: #ffffff;
font-weight: 500;
font: Rubik;
border: 1px solid rgba(172, 182, 235, 0.17);

padding-left:25px;
color: rgba(0, 0, 0, 0.4);
}
#sidebar {
float: left;
  min-width: 250px;
  max-width: 250px;
  position: relative;
  font-family: Rubik;
  min-height: 100vh;
  box-shadow: 1px 0 0 0 #f1f1f1;
  background: #fff;
  color: #333;
  transition: all 0.3s;
}

#bottomlist{
position: absolute;
bottom:0;
width:100%;
list-style: none;
}
#sidebar li i{
float:left;
color:#616161;
margin:15px 20px;
}
#sidebar li:after{
clear: both;
}
#sidebar .sidebar-header {
  padding: 20px;
  font-weight: 800;
  background: #fff;
}
.sidebar-header h3{
font-family: Rubik;

font-size: 24px;

font-weight: bold;

font-style: normal;

font-stretch: normal;

line-height: normal;

letter-spacing: normal;

text-align: center;

color: #000000;
}

#sidebar ul.components {
  padding: 20px 0;

}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px 30px;
  font-size: 1.1em;
  color: #616161;
  display: block;
}
#sidebar ul li a:hover {
  background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}
